body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.revenue-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
}

.revenue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.revenue-title {
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

.revenue-percentage {
    font-size: 16px;
    color: red;
    font-weight: bold;
    display: flex;
    gap: 5px;
}

.revenue-amount {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}
.revenue-content
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.demo
{
    height: 35px;
    width: 35px;
    border: 1px solid;
    font-size: 25px;
    border-radius: 50%;
    background-color: orange;
    color: #fff;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
}
.demo1
{
    font-size: 30px;
    font-weight: bold;
}
.revenue
{
    font-size: 16px;
    color: lightgreen;
    font-weight: bold;
    display: flex;
    gap: 5px;
}
.demo0
{
    height: 35px;
    width: 35px;
    border: 1px solid;
    font-size: 25px;
    border-radius: 50%;
    background-color: lightgreen;
    color: #fff;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
}
.revenue-content1
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.demo2
{
    height: 35px;
    width: 35px;
    border: 1px solid;
    font-size: 25px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
}
.demo3
{
    height: 35px;
    width: 35px;
    border: 1px solid;
    font-size: 25px;
    border-radius: 50%;
    background-color: peru;
    color: #fff;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
}
